@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

body{
     
    border: 2px solid ;
        height: 100vh;
        box-sizing: border-box;
        background : linear-gradient(20000.60deg,
                                    #22a3b2 25%,
                                        #427bd1 80%,
                                        #0c3b52 100%);
                                        background-attachment: fixed;
                                        background-size: cover;
                                    
                                
                                } 

.cabecalho{
   
    width: 800px;
    margin: 10% 15%; 
    font-size: 20pt;
    font-family:"Krona One", sans-serif ;
    display: flex;
    align-items: center;
    
}

.descricao__1{
    font-size: 25pt;
    font-weight: 600;
    

}

.cabecalho__nome{
   font-size: 25pt;
  
}

.cabecalho__geral{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.div_img{
    margin: 10% -30%;
    display: flex;

    
 
}

.imagem{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: -35% 60%;
    border: 10px solid hwb(187 15% 28%);
    border-radius: 10px;
}

.conteudo{
    width: 800px;
    margin: -7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Krona One", sans-serif;
    font-size: 12pt;
    
}

.conteudo_geral{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho__links{
  margin: 5% 0%;
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.cabecalho__links__botoes{
   background-color: hwb(220 2% 23%);
   width: 250px;
   text-align: center;
   font-size: 20px;
   border-radius: 10px;
   font-weight: 600;
   padding: 21px 0px;
   text-decoration: none;
   color: black;
   font-family: "Press Start 2P", system-ui;

}